@media (max-width:1500px) {
    .mw {
        width: 20%;
    }
}
@media (max-width:1350px) {
    .mw {
        width: 30%;
    }
}
@media (max-width:700px) {
    .mw {
        width: 45%;
    }
}
@media (max-width:400px) {
    .mw {
        width: 80%;
    }
}