.singinform {
  width: 55vw;
  height: 100vh;
}
.p1 {
  font-size: 30px;
  text-align: center;
  font-family: 'verdana';
  margin: 1rem;
}
.parent1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 95vh;
}
label {
  font-weight: 800;
  font-size: 18px;
}
.parent1 button {
  width: 135px;
  font-weight: 600;
  font-size: 18px;
  align-self: center;
}
.inbtn {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}
.lout {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}
.unam span{
  color: orange;
  font-size: 36px;
}

.unam {
  /* position: absolute; */
  /* top: 1rem; */
  /* left: 2rem; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 18px;
}
@media (max-width: 700px) {
  .singinform {
    width: 95vw;
    height: 100vh;
  }
}
@media (max-width: 360px) {
  .btntwo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
  }
}
